{{ define "feature_template" }}
<ul class="navbar-menu">
    {{ range $menuItem := .Menu.Items }}
        <li>
            <a href="{{ $menuItem.URL }}" class="navbar-item {{ $menuItem.Classname }}">
                {{ $menuItem.Name }}
            </a>
        </li>
    {{ end }}
</ul>
{{ end }}