{{ define "main" }}
    <main class="main-content-wrapper">
        <div class="main-content-lint">
            <div class="object-information">
                <span class="object-information__title">{{ .Object }}</span>
            </div>
            {{ $NextObject := .Object.GetNext }}
            {{ $PrevObject := .Object.GetPrevious }}
            {{ if (or $NextObject $PrevObject) }}
                <div class="pagination">
                    {{ if $PrevObject }}
                        <a href="{{ $PrevObject.URL }}" class="pagination__link pagination__link--previous">
                            {{ $PrevObject.GetTitle }}
                        </a>
                    {{ else }}
                        <span class="pagination__placeholder"></span>
                    {{ end }}
                    {{ if $NextObject }}
                        <a href="{{ $NextObject.URL }}" class="pagination__link pagination__link--next">
                            {{ $NextObject.GetTitle }} 
                        </a>
                    {{ else }}
                        <span class="pagination__placeholder"></span>
                    {{ end }}
                </div>
            {{ end }}
            <div class="documentation-links">
                {{ if .Config.Project.Repository }}
                    <a href="{{ .Config.Project.Repository }}" class="documentation-link" target="_blank">
                        <i class="fab fa-github"></i> View on GitHub
                    </a>
                {{ end }}
            </div>
        </div>
        <div class="main-content">
            {{ .Content }}
        </div>
    </main>
{{ end }}